/* font-family: 'Dela Gothic One', cursive;
font-family: 'Roboto Condensed', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    position: relative;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80vh;
    background-color: rgb(179, 179, 179);
}

.burger {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;
    z-index: 2;
}

.burger div {
    margin: 10px;
    width: 50px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    transition: .4s;
}

.toggle .line1 {
    transform: rotate(45deg) translate(5px, 13px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(5px, -13px);
}

header h1 {
    /* position: fixed; */
    width: 100%;
    height: 60px;
    background-color: gray;
    border-bottom: 4px solid rgb(219, 61, 61);
    box-shadow: 0 0 10px 4px black;
    z-index: 1;

}

header h1 a {
    display: block;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Dela Gothic One', cursive;
    font-size: 22px;
    letter-spacing: 2px;
    transition: .9s;
}
header h1 a:hover{
    color: rgb(34, 34, 34);
}

header nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.932);
    box-shadow: 0 0 10px 4px black;
    z-index: 1;
    transform: translateX(110%);
    transition: .4s;
}

.active {
    transform: translateX(0);
}

header nav ul {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    position: relative;
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
    padding: 5px;
    transition: .4s;
    cursor: pointer;
}

header nav ul li span {
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: white;
    transition: .4s;
}

header nav ul li:hover {
    color: gray;
}

header nav ul li:hover span {
    left: 0;
}

header h2 {
    /* margin-top: 60px; */
    padding: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.car1 {
    position: absolute;
    width: 300px;
    height: 200px;
    transition: .4s;
    z-index: 0;
}

.car2 {
    position: absolute;
    width: 300px;
    height: 200px;
    transition: .4s;
    z-index: 0;
}

.car3 {
    position: absolute;
    width: 300px;
    height: 200px;
    transition: .4s;
    z-index: 0;
}

.opacity {
    opacity: 0;
}

.gallery {
    position: relative;
    margin: 50px auto;
    width: 300px;
    height: 200px;
    border: 4px solid black;
    box-shadow: 0 0 10px 4px black;
    overflow: hidden;
}

.circle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    transition: .4s;
}

.circle div {
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 6px solid rgb(95, 95, 95);
    transition: .4s;
}

.activePhoto {
    background-color: red;
}

.sticky {
    position: fixed;
}

header h3 {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Dela Gothic One', cursive;
}

header p {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    text-align: center;
}

/* Main Section */

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(158, 157, 157);
}

.textbox {
    font-family: 'Roboto Condensed', sans-serif;
}

.textbox h1 {
    font-size: 30px;
    padding: 10px;
    background-color: gray;
    border-bottom: 4px solid rgb(219, 61, 61);
    border-top: 4px solid rgb(219, 61, 61);
    box-shadow: 0 0 10px 4px black;
}

main p {
    margin-top: 40px;
    width: 100%;
    height: 50%;
    padding: 20px;
    text-align: center;
    border: 4px solid rgb(219, 61, 61);
    box-shadow: 0 0 10px 4px black;
    color: white;
    background-color: rgb(63, 63, 63);
    transition: .6s;
}

main h2 {
    display: block;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    padding: 70px;
    text-transform: uppercase;
    font-family: 'Dela Gothic One', cursive;
    opacity: 0;
    transition: 1s;
}

.noOpacity {
    opacity: 1;
}

.first {
    transform: translateX(110%);
}

.second {
    transform: translateX(-110%);
}

.slide {
    transform: translateX(0);
}

section {
    width: 100vw;
    height: 100vh;
    background-color: rgb(121, 120, 120);
}

section h1 {
    font-family: 'Dela Gothic One', cursive;
    text-transform: uppercase;
    padding: 30px;
    text-align: center;
    background-color: rgb(94, 94, 94);
    border-bottom: 4px solid rgb(219, 61, 61);
    border-top: 4px solid rgb(219, 61, 61);
    box-shadow: 0 0 10px 4px black;
}

.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 80%;
    /* padding: 50px; */
}

.offer1 {
    width: 50%;
    /* height: 60%; */
    position: static;
    
}

.offer1 h2 {
    text-align: center;
    font-size: 15px;
}

.offer1 p {
    font-size: 12px;
    text-align: center;
}

.offer1 img {
    display: block;
    margin: auto;
    width: 150px;
    height: 100px;
    border: 3px solid black;
    box-shadow: 0 0 10px 4px black;
}

.offer2 {
    position: static;
    width: 50%;
}

.offer2 h2 {
    text-align: center;
    font-size: 15px;
}

.offer2 p {
    font-size: 12px;
    text-align: center;
}

.offer2 img {
    display: block;
    margin: auto;
    width: 150px;
    height: 100px;
    border: 3px solid black;
    box-shadow: 0 0 10px 4px black;
}

.offer3 {
    position: static;
    width: 50%;
    top: 250px;
    left: 15px;
}

.offer3 img {
    display: block;
    margin: auto;
    width: 150px;
    height: 100px;
    border: 3px solid black;
    box-shadow: 0 0 10px 4px black;
}

.offer3 h2 {
    text-align: center;
    font-size: 15px;
}

.offer3 p {
    font-size: 12px;
    text-align: center;
}

.offer4 {
    position: static;
    width: 50%;
    top: 250px;
    right: 0;
}

.offer4 img {
    display: block;
    margin: auto;
    width: 150px;
    height: 100px;
    border: 3px solid black;
    box-shadow: 0 0 10px 4px black;
}

.offer4 h2 {
    text-align: center;
    font-size: 15px;
}

.offer4 p {
    font-size: 12px;
    text-align: center;
}

.offer5 {
    position: static;
    width: 50%;
    top: 475px;
    left: 15px;
}

.offer5 img {
    display: block;
    margin: auto;
    width: 150px;
    height: 100px;
    border: 3px solid black;
    box-shadow: 0 0 10px 4px black;
}

.offer5 h2 {
    text-align: center;
    font-size: 15px;
}

.offer5 p {
    font-size: 12px;
    text-align: center;
}

.offer6 {
    position: static;
    width: 50%;
    top: 475px;
    right: 0;
}

.offer6 img {
    display: block;
    margin: auto;
    width: 150px;
    height: 100px;
    border: 3px solid black;
    box-shadow: 0 0 10px 4px black;
}

.offer6 h2 {
    text-align: center;
    font-size: 15px;
}

.offer6 p {
    font-size: 12px;
    text-align: center;
}

/* Kontakt */
article {
    width: 100%;
    height: 100vh;
    background-color: rgb(94, 94, 94);
}

article h1 {
    font-family: 'Dela Gothic One', cursive;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    border-top: 4px solid rgb(219, 61, 61);
    border-bottom: 4px solid rgb(219, 61, 61);
    box-shadow: 0 0 10px 4px black;
}

article .contact {
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

article p {
    width: 50%;
    text-align: left;
    padding: 30px 15px;
    background-color: rgb(122, 122, 122);
}

.social {
    font-size: 20px;
    text-transform: uppercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.content {
    font-size: 20px;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

article h2 {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: rgb(15, 15, 15);
    text-align: center;
    border-top: 4px solid rgb(172, 172, 172);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media(min-width: 800px) {
    header {
        height: 90vh;
    }

    header h1 a {
        font-size: 30px;
    }

    header h2 {
        font-size: 30px;
    }

    header h3 {
        font-size: 20px;
    }

    header p {
        font-size: 25px;
    }

    .gallery {
        width: 450px;
        height: 300px;
    }

    .car1 {
        width: 450px;
        height: 300px;
    }

    .car2 {
        width: 450px;
        height: 300px;
    }

    .car3 {
        width: 450px;
        height: 300px;
    }

    .textbox h1 {
        font-size: 40px;
        text-align: center;
    }

    main p {
        font-size: 25px;
    }
    section{
        height: 120vh;
    }

    .offers {
        height: 87%;
    }
    .offer1 h2{
        font-size: 18px;
    }

    .offer1 img{
        width: 300px;
        height: 200px;
    }

    .offer2 h2{
        font-size: 18px;
    }

    .offer2 img{
        width: 300px;
        height: 200px;
    }

    .offer3 h2{
        font-size: 18px;
    }

    .offer3 img{
        width: 300px;
        height: 200px;
    }

    .offer4 h2{
        font-size: 18px;
    }
    
    .offer4 img{
        width: 300px;
        height: 200px;
    }

    .offer5 h2{
        font-size: 18px;
    }

    .offer5 img{
        width: 300px;
        height: 200px;
    }

    .offer6 h2{
        font-size: 18px;
    }

    .offer6 img{
        width: 300px;
        height: 200px;
    }

    article{
        height: 120vh;
    }

    article p{
        padding: 40px 60px;
    }

    .social{
        font-size: 25px;
    }

    .content{
        font-size: 25px;
        padding: 40px 0;
    }
    
}
@media(min-width:1300px){
    header{
        height: 105vh;
    }
    section{
        height: 150vh;
    }
}
@media(min-width:1600px){
    header h2{
        font-size: 40px;
    }
    .gallery{
        width: 600px;
        height: 350px;
    }
    .car1{
        width: 600px;
        height: 350px;
    }
    .car2{
        width: 600px;
        height: 350px;
    }
    .car3{
        width: 600px;
        height: 350px;
    }

    main p{
        font-size: 35px;
    }
    
    main h2{
        font-size: 30px;
    }

    section{
        height: 180vh;
    }
    .offer1 h2{
        font-size: 30px;
    }
    .offer1 p{
        font-size: 20px;
    }

    .offer1 img{
        width: 400px;
        height: 280px;
    }

    .offer2 h2{
        font-size: 30px;
    }
    .offer2 p{
        font-size: 20px;
    }

    .offer2 img{
        width: 400px;
        height: 280px;
    }

    .offer3 h2{
        font-size: 30px;
    }
    .offer3 p{
        font-size: 20px;
    }

    .offer3 img{
        width: 400px;
        height: 280px;
    }

    .offer4 h2{
        font-size: 30px;
    }
    .offer4 p{
        font-size: 20px;
    }

    .offer4 img{
        width: 400px;
        height: 280px;
    }

    .offer5 h2{
        font-size: 30px;
    }
    .offer5 p{
        font-size: 20px;
    }

    .offer5 img{
        width: 400px;
        height: 280px;
    }

    .offer6 h2{
        font-size: 30px;
    }
    .offer6 p{
        font-size: 20px;
    }

    .offer6 img{
        width: 400px;
        height: 280px;
    }
}
@media(min-width:1900px){
    header{
        height: 105vh;
    }

    .burger{
        top: 10px;
        right: 10px;
    }

    header h1{
        height: 90px;
    }

    header h1 a{
        font-size: 40px;
        padding: 15px;
    }
    header h2{
        font-size: 50px;
    }

    header h3{
        font-size: 35px;
    }

    header nav{
        width: 15%;
    }

    .gallery{
        width: 900px;
        height: 500px;
    }
    .car1{
        width: 900px;
        height: 500px;
    }
    .car2{
        width: 900px;
        height: 500px;
    }
    .car3{
        width: 900px;
        height: 500px;
    }
    .textbox h1{
        font-size: 50px;    
    }

    main p{
        font-size: 45px;
    }

    section h1{
        font-size: 40px;
    }

    .offer1 img{
        width: 600px;
        height: 380px;
    }
    .offer2 img{
        width: 600px;
        height: 380px;
    }
    .offer3 img{
        width: 600px;
        height: 380px;
    }
    .offer4 img{
        width: 600px;
        height: 380px;
    }
    .offer5 img{
        width: 600px;
        height: 380px;
    }
    .offer6 img{
        width: 600px;
        height: 380px;
    }
    .social{
        font-size: 40px;
    }
    .content{
        font-size: 40px;
    }

    article p{
        padding: 40px 120px;
    }

    article h1{
        font-size: 40px;
    }
    article h2{
        font-size: 30px;
    }
}

@media(max-height: 500px){
    header{
        height: 200vh;
    }
    main{
        height: 250vh;
    }
    section{
        height: 250vh;
    }
    article{
        height: 200vh;
    }
}

@media(max-height: 550px){
    header{
        height: 150vh;
    }
    main{
        height: 140vh;
    }
    section{
        height: 170vh;
    }
    article{
        height: 150vh;
    }
}